@model AdminNG.Models.Pagos.Pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Familia.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familia.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaPago.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPago.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sede.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComprobanteNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComprobanteNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anulado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anulado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
