@model IEnumerable<AdminNG.Models.Pagos.PagoContado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Familia.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaPago.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsable.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComprobanteNumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anulado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImporteEfectivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImporteCheques)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleCheques)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Familia.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaPago.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsable.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sede.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComprobanteNumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anulado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImporteEfectivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImporteCheques)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleCheques)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
